*{
  border: 1px solid red;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
}
.main{
  max-width: 370px;
  width: 100%;
  background:#DAC7C7;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5 10 rgba(0, 0 , 0, 0.1)
}
.row-1{
  position: relative;
  height: 160px;
  width: 160px;
  background-color: rgba(124, 86, 176, 1);
  padding: 3px;
  border-radius: 50%;
}
.row-1 img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid#D7B3B3
}