*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid red;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,
h2{
    color: black;
}
.side-menu{
    position: fixed;
    background-color: tomato;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding:10px 40px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li img{
    width: 30px;
    height: 30px;
}
.side-menu li:hover{
    background: white;
    color: tomato;
}
