*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid red;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,
h2{
    color: black;
}
.side-menu{
    position: fixed;
    background-color: tomato;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding:10px 40px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li img{
    width: 30px;
    height: 30px;
}
.side-menu li:hover{
    background: white;
    color: tomato;
}
.container{
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: hsla(175, 68%, 38%, 1)
}
.container .header{
  position: fixed;
  top: 0;
  right:0;
  width: 80vw;
  height:10vh;
  background: #41CDC2;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container .header .nav{
  width: 90%;
  display: flex;
  align-items: center;
}
.container .header .nav .search{
  flex: 3;
  display: flex;
  justify-content: center;
}
.container .header .nav .search input[type=text]{
  border: none;
  background: hsla(311, 68%, 38%, 1);
  padding: 10px;
  width: 50%;
}
.container .header .nav .search button{
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .header .nav .search button img{
  width: 30px;
  height: 30px;
  border: none;
}
.container .header .nav .user{
  flex: 1;
  background: hotpink;
}