*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,
h2{
    color: black;
}
.side-menu{
    position: fixed;
    background-color: tomato;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}